* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
 }

 body {
    background: #ddd;
 }
 
 .cv {
    width: 900px;
    margin: 40px auto;
    background: white;
    display: flex;
 }

 /* Chap tomon */ 
 .left {

   border-left: 6px solid bl;
    width: 35%;
    background: #f2f2f2;
    padding: 20px;
 }

.photo img {
    width: 100%;
    border: 5px solid #e09a3a;
}
 .left h1 {
    font-size: 26px;
 }

 .left span {
    font-weight: bold;
 }

 .job {
    color: gray;
    margin-bottom: 15px;
 }

 .left p {
    font-size: 14px;
    margin-bottom: 8px;
 }

 h3 {
    margin: 15px 0 8px;
    border-bottom: 2px solid black;
    display: inline-block;
 }

 .contact {
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   background: #222;
   color: white;
 }

 

 /* Icon */
  .icon {
   background-color: orange;
   color: white;
   padding: 6px;
   margin-right: 8px;
   width: 40px;
   text-align: center;
  }
  .contact-text {
   padding-left: 10px;
  }


 /* Skill Bar */


 .skill {
   margin-top: 15px;
 }

 .skill h3 {
   margin-top: 30px;
 }
 .bar {

    width: 100%;
    height: 6px;
    background: #222;
    margin-bottom: 10px;
    margin-top: 5px;
 }

 .bar div {
    height: 100%;
    background: orange;
 }

 .fill {
   background: orange;
   height: 100%;
 }
 
 /* O'ng Tomon */

 .right {
    width: 65%;
    padding: 30px;
 }

 .section {
   margin-bottom: 30px;
 }

 .h2 {
   font-size: 18px;
   border-bottom: 2px solid orange;
   display: inline-block;
   margin-bottom: 10px;
 }

 .right p {
    font-size: 14px;
    margin-top: 15px;
 }



 .date {
    font-size: 13px;
    color: gray;
 }
